body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
/* body {
	background: #555;
} */

/* img {
	width: 20%;
} */

.container {
	/* margin-top: 10%; */
	max-width: 80%;
	margin: auto;
	background: white;
	padding: 10px;
	/* max-height: 1000px; */
}

.table {
	height: 500px;
	display: flex;
}
.custom-scroll {
	height: 500px;
	overflow-y: scroll;
}
h2 {
	text-align: center;
}

sup {
	margin-left: 90%;
}

.human {
	margin-left: 0.5%;
	margin-right: 3%;
	/* padding: auto; */
	display: flex;
	flex-direction: column;
	/* display: inline-block; */
	word-break: break-all;
	border: 20px;
}

.messages {
	border-style: solid;
	height: 500px;
	overflow-y: scroll;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
}

.textarea {
	border: 3px;
	border-style: solid;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	text-align: left;
	font-size: 20px;
	padding: 11px;
}

.form-register {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 100px;
	/* border: 5px;
	border-style: groove solid; */
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.input,
.ant-space-item {
	font-weight: bold;
	/* height: 40px; */
	/* width: 300px; */
	border-radius: 15px;
	font-size: 20px;
	margin: 10px;
	text-align: center;
}

.lbl-register {
	/* color: orange; */
	font-size: 30px;
	font-style: oblique;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-cancel {
	background-color: red;
}

.button-warning {
	background-color: orangered;
}

.button-accept {
	background-color: greenyellow;
}

.hover {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
}

.sender,
.receiver {
	width: auto;
}

.sender {
	margin-left: auto;
	font-weight: normal;
}

.receiver {
	margin-right: auto;
	font-weight: normal;
}
